.recipe-item {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  &:first-child {
    margin-top: 50px;
  }
  .favorite-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    img {
      width: 40px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .recipe-text {
    margin: 10px;
  }
}
