.edit_recipe_container {
  background: url('../../images/2.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  padding-top: 10px;
}

.edit_recipe {
  padding: 10px 0;
}
